@model IEnumerable<EmployeeDTO>

<h1>@ViewBag.Title</h1>

<div class="container">
    <button class="btn-danger"><a asp-controller="employee" asp-action="create">Create New</a></button>
    <div class="card-columns text-white">
        @foreach (var employee in Model)
        {

            <div class="card card-user bg-dark">
                <img asp-append-version="true" class="card-img-top" src="@employee.ImagePath" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">@employee.Name</h4>
                    <p class="card-text">@employee.Role.ToString()</p>
                    <p class="card-text">@employee.Gender</p>
                    <p class="card-text">@employee.DateOfBirth</p>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                    <a asp-controller="employee" asp-action="details" asp-route-id="@employee.Id">See Profile</a>
                    <a asp-controller="employee" asp-action="edit" asp-route-id="@employee.Id">Edit Profile</a>
                </div>
            </div>
        }
    </div>
</div>



